doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    style.
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: black;
      }

      .flex-centered {
        display: flex;
        width: inherit;
        height: inherit;
        align-items: center;
        justify-content: center;
      }

      #app-root canvas {
        image-rendering: pixelated;
      }

  body
    .flex-centered
      main#app-root
